{
	"Typescript/Javascript React - Functional Component": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": ["tsc", "jsc"],
		"body": [
      "const $1 = () => {",
      "  // TODO",
      "  return <h1>$1</h1>;",
      "};",
      "",
      "export default $1;",
    ],
		"description": "Functional Component",
	},
	"Typescript/Javascript - Function": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": ["tsf", "jsf"],
		"body": [
      "const $1 = () => {",
      "  // TODO",
      "};",
      "",
      "export default $1;",
    ],
		"description": "Function",
	},
	"Typescript - Types": {
		"scope": "typescript,typescriptreact",
		"prefix": "tst",
		"body": [
      "type $1 = {",
      "",
      "};",
    ],
		"description": "Types",
	},
	"Log - Variable": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "cl",
		"body": ["console.log('$1=', $1);"],
		"description": "Log variable",
	},
	"Log - Called": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "cc",
		"body": ["console.log('$1 called');"],
		"description": "Log called",
	},
	"Test - Jest - Describe": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "jd",
		"body": ["describe('$1', () => {$2});"],
		"description": "Jest describe function for tests",
	},
	"Test - Jest - It": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "ji",
		"body": ["it('should $1', () => {$2});"],
		"description": "Jest it function for tests",
	},
	"Test - Jest - Test": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "jt",
		"body": ["test('should $1', () => {$2});"],
		"description": "Jest test function for tests",
	},
	"Test - Jest - Expect": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "je",
		"body": ["expect($1).toEqual($2);"],
		"description": "Jest expect function for tests",
	},
	"Test - Jest Snapshot - Import": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "jsi",
		"body": ["import { create } from 'react-test-renderer';"],
		"description": "Import for Jest Snapshot",
	},
	"Test - Jest Snapshot - Test": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "jst",
		"body": [
      "const tree = create($1).toJSON();",
      "expect(tree).toMatchSnapshot();"
    ],
		"description": "Test for Jest Snapshot",
	},
	"Test - Testing Library - Import": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "tli",
		"body": ["import { render, screen } from '@testing-library/react';"],
		"description": "Import for Testing Library",
	},
	"Test - Testing Library - Test": {
		"scope": "javascript,typescript,typescriptreact",
		"prefix": "tlt",
		"body": [
      "render($1);",
      "await screen.findByTestId($2);",
      "expect(screen.getByTestId($2)).toBeInTheDocument();",
    ],
		"description": "Test for Testing Library",
	},
}
